{% macro basic_card(label=None, class="") %}
    <div>
        <p class="{{ class }}">
            {{ label if label else "Clique no Botão!" }}
        </p>
    </div>
{% endmacro %}

{% macro address_card(label=None, class="") %}
    <div>
        <p class="field_city">Clique no Botão!</p>
        <p class="field_neighborhood"></p>
        <p class="field_state"></p>
        <p class="field_street"></p>
        <p class="field_zip_code"></p>
    </div>
{% endmacro %}
