{% macro basic_card(label=None) %}
    <div>
        <p id="basic_card_label_field">
            {{ label if label else "Nenhum dado encontrado." }}
        </p>
    </div>
{% endmacro %}

{% macro address_card(label=None) %}
<div>
    <p id="address_card_label_field">
        {{ label if label else "Nenhum dado encontrado." }}
    </p>
</div>
{% endmacro %}
