{% extends "base.jinja2" %}

{% block title %} Choice | Faker Data {% endblock title %}

{% block content %}
    <div class="w-full h-screen flex items-center justify-center flex-col gap-10">
        <section class="flex justify-center items-center w-1/2 h-1/3 gap-10 bg-gray-100 rounded-xl border-2">
            <div class="bg-gray-200 h-2/3 w-1/4 rounded-xl border-2 border-gray-300 flex justify-center items-center">
                {{ cards.basic_card(class="card_random_name") }}
            </div>
            <div class="bg-gray-200 h-2/3 w-1/4 rounded-xl border-2 border-gray-300 flex justify-center items-center">
                {{ cards.basic_card(class="card_random_email") }}
            </div>
            <div class="bg-gray-200 h-2/3 w-1/4 rounded-xl border-2 border-gray-300 flex justify-center items-center">
                {{ cards.address_card(class="card_random_address") }}
            </div>
        </section>
        <section class="flex gap-8">
            {% for item in data %}
                {% if item == "Random Name" %}
                    {{ buttons.basic_button(label=item, class="btn_random_name", loading_icon=True) }}
                {% elif item == "Random E-mail" %}
                    {{ buttons.basic_button(label=item, class="btn_random_email", loading_icon=True) }}
                {% elif item == "Random Address" %}
                    {{ buttons.basic_button(label=item, class="btn_random_address", loading_icon=True) }}
                {% else %}
                    {{ buttons.basic_button(label=item, class="btn_default") }}
                {% endif %}
            {% endfor %}
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ url_for('static', path='/js/loadFakeData.js') }}"></script>
{% endblock content %}